.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae854;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:#2313ff;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b50 0%, #ff136e56 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: rgba(0, 26, 255, 0.377);
}
.cat2{
    background-color: rgb(218, 112, 112);
}
.cat3{
    background-color: rgba(0, 0, 255, 0.445);
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    inset-block: ;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(211, 211, 211, 0.616);
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}